.lobsterFont {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 60px;
}


@media screen and (max-width: 640px ) {

    .titleCenter {
        margin: auto;
    }
}